:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    max-width: 9rem;
    max-height: 9rem;
}

h1 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

p {
    font-size: 0.875rem;
    margin: 0;
    text-align: center;
    padding: 0.5rem;
    max-width: 19rem;
    font-style: italic;
    color: var(--grey-s1);
}