[data-layer="animation"] li {
    background: white;
    padding: 0.5rem;
    border-bottom: solid 1px silver;
    display: flex;
    flex-direction: row;
    align-items: center;
}

[data-layer="animation"] .red {
    width: 2rem;
    height: 2rem;
    background: red;
    margin-right: 0.5rem;
}