#grid {
    width: 800px;
    height: 800px;
    border: solid 1px silver;
}

.toolbar {
    margin-bottom: 1rem;
}

div[data-area] {
    border-radius: 5px;
    border: dashed 1px silver;
    margin: 0.5rem;
}

div[data-area]::before {
    content: attr(data-area);
}