#block {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    cursor: move;
    position: fixed;
    top: 0;
    left: 0;
    translate: 0px 0px;
    touch-action: none;
}

[data-move="true"] {
    width: 32px;
    height: 32px;
    background-color: red;
    cursor: move;
}

#toolbar {
    background: silver;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    translate: 200px 100px;
}