:host {
    display: block;
    position: fixed;
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
}
div {
    height: 1rem;
    width: 1rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}
header {
    height: 1rem;
    width: 100%;
    background-color: blue;
    cursor: move;
}