@import "./lib/variables.css";
@import "./lib/text.css";
@import "./lib/footer.css";
@import "./lib/header.css";
@import "./lib/main.css";
@import "./lib/icons.css";
@import "./lib/buttons.css";
@import "./lib/aside.css";
@import "./lib/color-classes.css";

*:focus {
    border: solid 1px blue;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/OpenSans-Regular.ttf) format('truetype');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text);
    fill: var(--text);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
}

body {
    display: grid;
    grid-template-rows: 3rem auto 2rem;
}

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    overflow-y: auto;
}

.hide {
    display: none;
}

.drag-marker {
    position: relative;
    height: 0.5rem;
    background-color: #0055bb;
    height: 2px;
    transition: all 0.2s ease-out;
}

.drag-marker:before {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: 0;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #0055bb;
    border-radius: 50%;
}

.drag-marker:after {
    content: "";
    position: absolute;
    top: -0.25rem;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #0055bb;
    border-radius: 50%;
}

view-loader {
    display: block;
    width: 100%;
    height: 100%;
}